.filter-mobile(data-filter-menu)
    .filter-close(data-close-filter-menu)
        span
        span
    .filter-mobile-wrapper
        .filter-mobile-title
            .filter-title.blue-text-2 фільтр
        .filter-location
            .blue-text-2 Розташування
            .filter-radio
                .filter-radio-input
                    label(for="kyiv")
                    input(type="checkbox" value="kyiv" id="kyiv" data-filter="kyiv")
                    .light-blue-text-3 київ
                .filter-radio-input
                    label(for="borispol")
                    input(type="checkbox" value="borispol" id="borispol" data-filter="borispol")
                    .light-blue-text-3 бориспіль
        .filter-year
            .blue-text-2 рік будування
            .filter-radio
                .filter-radio-input
                    label(for="2022")
                    input(type="checkbox" value="2022" id="2022" data-filter="2022")
                    .light-blue-text-3 2022
                .filter-radio-input
                    label(for="2021")
                    input(type="checkbox" value="2021" id="2021" data-filter="2021")
                    .light-blue-text-3 2021
                .filter-radio-input
                    label(for="2020")
                    input(type="checkbox" value="2020" id="2020" data-filter="2020")
                    .light-blue-text-3 2020
                .filter-radio-input
                    label(for="2019")
                    input(type="checkbox" value="2019" id="2019" data-filter="2019")
                    .light-blue-text-3 2019
                .filter-radio-input
                    label(for="2018")
                    input(type="checkbox" value="2018" id="2018" data-filter="2018")
                    .light-blue-text-3 2018

        .load-more.video-btn-container(data-close-filter-menu)
            .cerchio
                <svg viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="65" cy="65" r="65"/>
                </svg>
                span застосувати фільтр
