footer#footer(data-id="#footer")
    .footer-wrapper.fields
        .footer-top
            .footer-top-title.title ми
            .footer-top-img.title-img2
                img(src="assets/images/footer/1.jpg" alt="img")
            .footer-top-title-2.title на зв’язку
            .footer-top-info
                .footer-top-info-left
                    .footer-top-info-left-block
                        .light-blue-text Офіс продажу
                        a(href='tel:+3804427727707').light-blue-text
                            span +380 44 277-277-07
                    .footer-top-info-left-block
                        .light-blue-text м. Київ, пр-т Лобановського, 44, офіс 101, 03037

                button(data-open-call-popup).video-btn-container
                    .cerchio
                        <svg viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="65" cy="65" r="65"/>
                        </svg>
                        span замовити дзвінок
                .footer-top-info-right
                    a(href='#').light-blue-text
                        span Instagram
                    a(href='#').light-blue-text
                        span Telegram
                    a(href='#').light-blue-text
                        span Facebook


        .footer-bottom
            p.light-grey-text © ALTIS DEVELOPMENT 2021
            a(href="https://smarto.agency/" rel="nofollow" target="_blank").footer-dev__link
                img(src="assets/images/footer/smart-orange.svg" alt="smarto")

        a(href="#up").pageup
            +svg('arrow').svg-style.footer-svg-style
    img(src="assets/images/svg/footer-vector.svg" alt="vector").vector
