.menu
    .menu-header.fields
            a(href="index.html").logo-mob
                img(src="./assets/images/svg/logo-2.svg" alt="logo")
            .header-right
                .header-right-phone-mob.js-mobile-call
                    svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0.5 20C0.5 9.23045 9.23045 0.5 20 0.5C30.7696 0.5 39.5 9.23045 39.5 20C39.5 30.7696 30.7696 39.5 20 39.5C9.23045 39.5 0.5 30.7696 0.5 20Z" stroke="#004994")
                        path(d="M24.114 22.3876V23.8328C24.1145 23.967 24.0889 24.0998 24.0389 24.2227C23.9889 24.3456 23.9155 24.456 23.8236 24.5467C23.7316 24.6374 23.623 24.7064 23.5047 24.7494C23.3865 24.7924 23.2612 24.8084 23.1369 24.7963C21.7577 24.6352 20.4328 24.1287 19.2688 23.3174C18.1859 22.5778 17.2677 21.5909 16.5796 20.427C15.8221 19.1703 15.3507 17.7394 15.2036 16.2504C15.1924 16.1172 15.2071 15.9829 15.2468 15.8562C15.2866 15.7294 15.3504 15.6129 15.4343 15.5141C15.5182 15.4154 15.6203 15.3364 15.7342 15.2824C15.848 15.2283 15.9711 15.2004 16.0955 15.2002H17.4401C17.6577 15.1979 17.8685 15.2807 18.0335 15.4332C18.1984 15.5856 18.3061 15.7973 18.3366 16.0288C18.3933 16.4913 18.4986 16.9454 18.6503 17.3825C18.7106 17.5549 18.7237 17.7423 18.6879 17.9224C18.6522 18.1026 18.5691 18.2679 18.4486 18.3989L17.8794 19.0107C18.5174 20.2167 19.4465 21.2153 20.5686 21.9011L21.1379 21.2893C21.2597 21.1598 21.4136 21.0705 21.5812 21.0321C21.7488 20.9937 21.9232 21.0077 22.0836 21.0725C22.4902 21.2356 22.9127 21.3487 23.343 21.4097C23.5608 21.4427 23.7596 21.5606 23.9017 21.7409C24.0439 21.9212 24.1194 22.1514 24.114 22.3876Z" fill="#004994")

                .header-right-phone
                    a(href='tel:+380444927767')
                        span +38 (044) 492-77-67
                button.header-right-button(data-open-call-popup)
                    span замовити дзвінок
                .custom-select(data-lang="desktop")
                    include ../components/lang/lang.pug

                .header-right-menu(data-close-menu)
                    span
                    span
    ul.menu-nav.fields.js-menu-main
            li
                a(href="index.html").title Головна
            li
                a(href="projects.html").title Проєкти
            li
                a(href="about.html").title Про нас
            li
                a(href="news.html").title новини
            li
                a(data-anchor-link href="#footer").title Контакти
    img(src="assets/images/svg/footer-vector.svg" alt="vector").vector







